
.vs/HashCodeQR2018/v15/.suo
.vs/HashCodeQR2018/v15/Server/sqlite3/db.lock
.vs/HashCodeQR2018/v15/Server/sqlite3/storage.ide
*.ide-shm
*.ide-wal
*.exe
*.pdb
*.csproj
*.user
*.sln
*.cache
*.txt
bin/Debug/a_example.in
bin/Debug/b_should_be_easy.in
bin/Debug/c_no_hurry.in
bin/Debug/d_metropolis.in
bin/Debug/e_high_bonus.in
